img {
    width: 30px;
    height: 30px;
}

.btncolor{
    background-color: #343a40;
    color: #0056b3;
    border-color: #0056b3;
}

.btn-outline-success:hover {
    color: #fff;
    background-color:#0056b3;
    border-color: #0056b3;
}

body{
    background-image: url(../Images/andrew-seaman-lzg7pY1ZhLo-unsplash.jpg);
    /* background-position: center; */
    background-size: cover;
}

.backgroundOpac{
    opacity: 80%;
}

#aboutMe{
    font-style: italic;
    text-decoration: underline;
    font-size: 75px;
}

.aboutMeContainer{
    background-color: #e9ecef;
    opacity: 80%;
}

#aboutMeh1{
    font-size: 32px;
}

#aboutMeimg{
    height: 150px;
    width: 150px;
}